[2016-11-14 06:43] kgashok opened #1 "Confirm artifacts"

[2016-11-14 06:44] kgashok opened #2 "Define collaborators and set deadlines"

[2016-11-14 06:44] kgashok commented on #2
Dec 9 is the start date? Work backwards.

[2016-11-14 06:58] kgashok commented on #2
- Dhivya (KGISL) - and some junior engineers as resources during training
- IAS support
- Faculty @KGCAS
- Rajasekaran KITE

[2016-11-14 07:41] kgashok opened #3 "Import Current Java manual into the repo"

[2016-11-14 14:01] kgashok opened #4 "Invite Sathyavathy as a collaborator on the repo"

[2016-11-14 14:02] kgashok opened #5 "Start a gitter room for the Orientations repo and integrate it with the repo"

[2016-11-14 14:06] kgashok commented on #1
@dranuja Please feel free to reject/modify any of the artifacts that has been planned.

[2016-11-14 14:13] kgashok opened #6 "Add links to the content material available on Moodle"

[2016-11-14 14:14] kgashok opened #7 "Arrange for video recordings of the Orientation sessions"

[2016-11-14 14:15] kgashok opened #8 "Reference books: Are they available in Moodle for this paper?"
In KITE, they have scanned copies of the books. Is this done @KGCAS as well?

[2016-11-14 14:45] kgashok opened #9 "Create PetSpeak exercise series in Java"
Rajasekaran (KITE) has been assigned this work.

[2016-11-14 15:00] kgashok opened #10 "Choosing an online IDE environment"
The idea is to give them a sandbox for them to build and run Java programs on the cloud; including Applets

@Sudharsanrajendran Is Cloud9 the better alternative for Java IDE/development.
Research and provide some analysis.Or is it Heroku? Or should we provide multiple options?

or is it https://codenvy.com/

or https://cloud.oracle.com/application-development# (Oracle who owns Java)

[2016-11-14 15:00] kgashok commented on #9
@rajasekaranap - please respond with deadlines.

[2016-11-14 15:18] rajasekaran36 commented on #9
Sure sir ...

[2016-11-14 16:45] #5 closed, assigned to kgashok, aBharathy

[2016-11-15 03:23] kgashok opened #12 "JVM presentation is key"
@aBharathy I would imagine that this would be key. I've dumbed some screenshots from a video (http://j.mp/jvmVideo , ~3 minutes, from C to Java) which is the key to go from "Known to Unknown."

https://github.com/kgashok/orientations/tree/master/img

[2016-11-15 03:49] kgashok commented on #12
Get Dhivya (KGISL) inputs on defining the scope of this presentation as well

[2016-11-15 04:06] kgashok commented on #12
I've started a file separately for this https://github.com/kgashok/orientations/blob/master/jvmPresentation.md

[2016-11-15 04:08] kgashok commented on #12
@rajasekaranap   - you have some PPTs that you use for this topic? Can you share the Moodle link? Or even better, upload to this repo?

[2016-11-15 08:21] dranuja commented on #7
Yes sir.

Sincerely,
anuja

----- Original Message -----
From: "kgashok" notifications@github.com
To: "kgashok/orientations" orientations@noreply.github.com
Cc: "dranuja" anuja.r@kgcas.com, "Mention" mention@noreply.github.com
Sent: Monday, November 14, 2016 7:44:03 PM
Subject: [Marketing Mail] Re: [kgashok/orientations] Arrange for video recordings of the Orientation sessions (#7)

Assigned #7 to

[2016-11-15 08:23] dranuja commented on #8
No sir. We are not using moodle at CAS.

Sincerely,
anuja

----- Original Message -----
From: "kgashok" notifications@github.com
To: "kgashok/orientations" orientations@noreply.github.com
Cc: "dranuja" anuja.r@kgcas.com, "Mention" mention@noreply.github.com
Sent: Monday, November 14, 2016 7:45:13 PM
Subject: [Marketing Mail] Re: [kgashok/orientations] Reference books: Are they available in Moodle

[2016-11-15 08:38] AlliBharathy commented on #2
Dec 5 is the start date.

[2016-11-15 08:43] kgashok commented on #9
https://github.com/rajasekaranap/Pet-Talk-Abstract-Java/tree/master/src

I've done a couple of pull requests on your repo. Once that's accepted, it will have three very different versions, which should all work.

[2016-11-15 09:01] aBharathy commented on #6
yes sir

[2016-11-15 10:54] aBharathy commented on #6
There is no material maintained on moodle for CAS

[2016-11-15 10:54] #6 closed, assigned to aBharathy

[2016-11-15 11:25] #8 closed, assigned to dranuja

[2016-11-15 11:27] #7 closed, assigned to dranuja

[2016-11-15 12:16] aBharathy commented on #4
@sathyavathyvenugopal is the Id of Ms. Sathyavahy

[2016-11-15 12:30] kgashok commented on #4
I've invited her. She's yet to join.

Ashok Bakthavathsalam

On Nov 15, 2016 5:46 PM, "aBharathy" notifications@github.com wrote:

[2016-11-15 16:41] kgashok opened #14 "Train the trainer T3"
@Dhivyakgisl  We have 110 students; on a 1:5 ratio, we need 20 programming mentors for some of the sessions during the 2 days to guide students to complete

Programs to get familiar with:
1. PC-1 (http://j.mp/javaKITE)
2. Pet Speak program series ( @rajasekaranap : when will this be ready?)
3. Right Triangle Java (http://j.mp/rntJavaTDD)

This Saturday, in addition to CyberDojo, you can get the KG

[2016-11-15 16:44] kgashok commented on #14
Lab No_1 and Lab No_3 can be addressed with the PetSpeak problem series.

[2016-11-15 16:48] kgashok commented on #14
http://javadevnotes.com/java-substring-examples
http://javadevnotes.com/java-string-split-tutorial-and-examples

[2016-11-15 19:19] kgashok opened #15 "Objectives of the Orientation"
What are the objectives of the Orientation?

0. To get the students really interested in developing Java Programming Skills!
http://www.fromdev.com/2015/02/programming-language-to-learn.html

1. "Lay of the Land", High Level review of the entire Subject Contents
2. Which is important for an immediate Java career @KGISL and the IT industry as a whole?
  - https://www.quora.com/What-are-the-top-10-t

[2016-11-15 19:38] kgashok opened #16 "Concept Map"
![ConceptualUnderstandingJava.png](https://zube.io/files/kgashok/a2b2523a8612c4c5540fc761cd1cc726.png)

[2016-11-15 19:40] kgashok commented on #14
http://docs.oracle.com/javase/tutorial/ - the Mother of all Tutorials
http://docs.oracle.com/javase/tutorial/essential/index.html

[2016-11-15 19:43] kgashok commented on #15
http://www.fromdev.com/2008/05/java-threading-questions.html

Is concurrency even used in the real world applications? Please check with the team.
If not, why not?

[2016-11-16 06:20] Dhivyakgisl commented on #15
Dear sir,
     We donot implement concurrency in our code in development, rather it is taken care automatically by JVM and DB transaction controls.
 
This is for your kind information.
 
With regards,
Dhivya

----- Original Message -----

From: "kgashok" notifications@github.com
To: "kgashok/orientations" orientations@noreply.github.com
Cc: "Dhivya" dhivya.arun@kggroup.com, "Assign" assign@noreply

[2016-11-16 13:44] kgashok commented on #15
Below is one of the scenarios where we use multi threading. For sending multiple covernotes data to CSC's core insurance system.
- User can generate multiple covernotes (Motor , personal accident) in one transaction in our **NSure** system. We need to send these cover notes data in real time to Core insurance system by calling their various APIs.
- So, we create threads based on number of covernot

[2016-11-16 13:48] sudhxr commented on #10
Sir, Cloud9 is the best environment when compared to codenvy as far I have used it. C9 provides integration to sources like GitHub, Google Cloud and Bitbucket. C9 is very easier to collaborate and work with groups. For instance, pair programming (We used to collaborate using c9) but now they are only providing paid versions.

We should ask students to get this complete package that GitHub provides

[2016-11-16 13:54] kgashok commented on #10
Please discuss with @Dhivyakgisl - she might have other ideas

Get ready to do a demo of the Java on the Cloud
- Pick a lab exercise preferably a Java Applet
- Compile it and then show a demo of the program

[2016-11-16 15:12] kgashok opened #17 "github accounts and gitter room"
Should we? Is the https://gitter.im/kgisl/CloudCoderDiscussion better for this?

@62ramya ?

[2016-11-16 15:52] kgashok opened #18 "MCQ using a Survey tool"
Please set this up.

We will use once PRIOR to start of the Orientation
And once AFTER the start of the Orientation

Use the questions to start with at https://github.com/kgashok/orientations/blob/master/mcqJava.md#mcq

[2016-11-16 15:53] kgashok commented on #18
Doesn't MOODLE have a MCQ creator?

[2016-11-16 16:03] kgashok opened #19 "Agenda Finalization - 6 * 2 hour sessions"
|Day   | AM Session 1 | AM Session 2 | PM Session1 | PM Session2|
|:-----|:-------------|:-------------|:-----------|:----------|
|Day 1 |"Begin with the End in Mind"; Starting MCQ @Dhivyakgisl; Github account / Gitter room login - Say "Hello Java!" @62ramya |Let's write some Java code right away! The First Program Visualized in PythonTutor @kgashok; Right Triangle (Lab 2?) @62ramya;| The Course O

[2016-11-16 16:11] kgashok opened #20 "Handout Dockit During the Orientation"
### Handouts
0. Glossary of Important Terms and/or Concept Map
1. Learn Java in 21 minutes
2. REFCARDZ
3. Program output for PaintJava
4. Signup sheet for Mobile Hackshop and KGISL CCS Sessions
5. Sheet containing important links

### Important Links
- The Mother of All Java Tutorials - @ the mother site - Oracle/SUN https://docs.oracle.com/javase/tutorial/
- What college students must know about

[2016-11-16 20:17] #1 closed, assigned to aBharathy, dranuja

[2016-11-16 20:23] kgashok commented on #19
@62ramya  w.r.t. Praveen (KITE-IT) How did he get interest in Android? What is his idea? He can be asked to presented for  5-10min **with slides**; and screenvideos of his app.

[2016-11-17 03:33] 62ramya commented on #18
Moodle have MCQ Creator sir.

[2016-11-17 05:17] kgashok commented on #10
For Github Demo, please compile, build and demo two programs:
- http://javaconceptoftheday.com/compare-two-text-files-in-java/ and another simple Applet can be demonstrated on the Github package
- https://github.com/rajasekaranap/Java-Swing-Paint - this will be CRITICAL - @rajasekaranap build this - so check with him if you have any questions.

[2016-11-17 05:34] kgashok opened #21 "Get Nandini H also into the Orientations"
Does she have a github account?
Get her to join in the Gitter room as well

[2016-11-17 05:36] kgashok commented on #16
You can come with a KGISL specific Map...

[2016-11-17 05:45] kgashok commented on #16
http://beginnersbook.com/wp-content/uploads/2013/12/Java-collection-framework-hierarchy.png
http://2.bp.blogspot.com/-BZwZAj2YnnE/TZuAsMsuuAI/AAAAAAAAAJQ/xdiUI8LDD0E/s1600/collections.png
http://adrinael.net/containerchoice

http://www.dubberly.com/concept-maps/java-technology.html
and the Flash accompaniment - http://www.dubberly.com/java_concept_map_flash/

[2016-11-17 06:08] 62ramya commented on #17
Yes sir, we can use cloudcoder discussion room for orientation.

[2016-11-17 07:30] kgashok commented on #16
It would be ideal to have a map of Thread-safe and non-thread-safe containers. If you Google it, you should find one. https://autofei.wordpress.com/author/autofei/

http://javaconceptoftheday.com/wp-content/uploads/2015/01/MapInterface.png
http://image.slidesharecdn.com/javatutorials-131103211237-phpapp02/95/java-tutorials-45-638.jpg?cb=1383513224

[2016-11-17 07:31] #21 closed, assigned to Dhivyakgisl

[2016-11-17 07:42] kgashok commented on #12
As you asked i have attached my github link for Simple paint program using Swing. Runnable Jar also available kindly verify it mam.

GitHub Link
https://github.com/rajasekaranap/Java-Swing-Paint

[2016-11-17 08:21] kgashok commented on #4
@aBharathy Can you please upload the JAVA LAB MANUAL to this repo? Collect it from whomever it is with.

[2016-11-17 08:39] aBharathy commented on #4
Yes sir. Working on it . As soon as  I receive it , will upload

[2016-11-17 09:12] kgashok opened #22 "Paint in Java"

[2016-11-17 09:12] kgashok commented on #22
@rajasekaranap If your repo is the one that is going to be used, then need additional comments in the code.

[2016-11-17 09:13] kgashok commented on #22
A high level class diagram would also be useful.

[2016-11-17 09:28] kgashok commented on #16
http://macsstuff.net/photobov/java-collection-map-api

Show how easy it is to do a Binary Search on a 1,000,000 records.
Use the in-built binary search that is available in Java.

[2016-11-17 09:30] kgashok commented on #12
@aBharathy

https://github.com/kgashok/orientations/tree/master/img/jvm  - some images files that will be useful.

[2016-11-17 10:15] aBharathy commented on #2
Start date may get postponed to Dec 6. yet to get  the confirmation (as per the Exam Schedule).Will update as soon as it is confirmed.

[2016-11-17 10:17] aBharathy commented on #2
Due to elections on Nov 19th, that particular exam is rescheduled on Dec 5.

[2016-11-17 10:24] kgashok commented on #17
Actually let's form a separate Gitter room for Java orientation sessions @KGISL

[2016-11-17 10:29] kgashok commented on #17
https://gitter.im/kgisl/javaOrient?utm_source=share-link&utm_medium=link&utm_campaign=share-link is the share link for the GitterRoom

@Sudharsanrajendran   As soon as students have a github account, students can be asked to join here.

[2016-11-17 12:41] kgashok opened #23 "Invite Sheeba and ? - the two trainers in Finishing School"
Please get them github IDs and ask them to join the gitter room.

@62ramya @Dhivyakgisl  - they can be asked to be programming mentors during the orientation.

[2016-11-17 17:12] kgashok opened #24 "Demonstrating Exception handling in Java"
### Divide by zero in C language
![Screenshot 2016-11-17 at 22.34.26.png](https://zube.io/files/kgashok/586b3c54044d41159a199b1452c23ef7.png)
![Screenshot 2016-11-17 at 22.34.45.png](https://zube.io/files/kgashok/7f6562ff75db9354a7cebbcc9c3b9f1c.png)

### Divide by zero in Java
![Screenshot 2016-11-17 at 22.38.33.png](https://zube.io/files/kgashok/38db188aaea87e380171dbf6e8cd1679.png)
![Screenshot

[2016-11-17 17:34] kgashok opened #25 "Demonstrate the power of in-built Java functionality"
### binarySearch comes in-built for an Array Object

![Screenshot 2016-11-17 at 22.57.50.png](https://zube.io/files/kgashok/338c70d0fba60a3a654ef0cce1b39e15.png)

[2016-11-17 17:52] kgashok opened #26 "Useful book to get to generate the MCQ?"
Maybe there is a PDF somewhere?
Is this book available in the library?

![Screenshot 2016-11-17 at 23.21.01.png](https://zube.io/files/kgashok/fb97b3de195c5b54c226cdcccaf91d6e.png)

[2016-11-17 18:08] kgashok opened #27 "Ideas for the Glossary"
https://java.com/en/download/faq/helpful_concepts.xml

[2016-11-17 18:11] kgashok commented on #25
https://www.tutorialspoint.com/java/util/arrays_binarysearch_int.htm

[2016-11-18 04:25] Dhivyakgisl commented on #26
Dear sir,
 
     I would prefer using Headfirst Java book. I have the PDF copy for the same.
 
With regards,
Dhivya

----- Original Message -----

From: "kgashok" notifications@github.com
To: "kgashok/orientations" orientations@noreply.github.com
Cc: "Dhivya" dhivya.arun@kggroup.com, "Assign" assign@noreply.github.com
Sent: Thursday, November 17, 2016 11:22:50 PM
Subject: [Marketing Mail] [kgashok

[2016-11-18 08:45] 62ramya commented on #23
Added in gitter room sir.

[2016-11-18 11:06] Dhivyakgisl commented on #26
Headfirst JAVA PDF copy
https://drive.google.com/file/d/0B8gMR6tSBoZsNDNkMjZjOGItYjljYS00OTFhLTg1ZTgtMzRhNTMxZjcxMjJj/view?hl=en
 @kgashok @62ramya @aBharathy

[2016-11-18 11:06] #26 closed, assigned to 62ramya, Dhivyakgisl

[2016-11-18 19:07] kgashok commented on #10
@Sudharsanrajendran  http://www.browxy.com/ - it can be used in Firefox (not Chrome) to display Applets!
Swing-based Paint Java might run directly in this.

[2016-11-19 21:51] kgashok commented on #3
@Dhivyakgisl

https://github.com/kgashok/orientations/blob/master/javaLab/LAB_Exercises.md - the lab solution keys can be proof read for naming conventions, indentations, etc.
Assign all or SOME of the lab exercises to the 18+ KGISL freshers and ask them to contribute to the improved lab manuals.

They have to get a bit familiar with the Markdown format (stackedit.io is a good editor to use).

[2016-11-21 02:26] kgashok commented on #10
C9 is available and the best choice to go with for now.
In addition, @Sudharsanrajendran will also explore browxy.com

[2016-11-21 02:28] #23 closed, assigned to 62ramya, Dhivyakgisl

[2016-11-21 03:26] Dhivyakgisl commented on #3
Dear sir,
 
    Will allocate all programs to 18 trainees and do the needful.
 
With regards,
Dhivya

----- Original Message -----

From: "kgashok" notifications@github.com
To: "kgashok/orientations" orientations@noreply.github.com
Cc: "Dhivya" dhivya.arun@kggroup.com, "Mention" mention@noreply.github.com
Sent: Sunday, November 20, 2016 3:21:27 AM
Subject: [Marketing Mail] Re: [kgashok/orientation

[2016-11-21 04:41] 62ramya commented on #19
Sir, Informed him. He will ready with his slides.

[2016-11-21 18:50] kgashok commented on #25
http://macsstuff.net/photobov/java-collection-map-api

Show how easy it is to do a Binary Search on a 1,000,000 records.
Use the in-built binary search that is available in Java.

[2016-11-21 18:59] kgashok opened #31 "Diving deep into Java"
### HashMap

http://j.mp/hashMapJava

Most of you will agree that HashMap is most favorite topic for discussion in interviews now-a-days. I have gone through several discussions with my colleagues time to time and it really helped. Now, I am continuing this discussion with you all.

I am assuming that if you are interested in internal working of HashMap, you already know basics of HashMap, so i am

[2016-11-22 05:14] 62ramya commented on #26
Sir, The book is available in KITE Library.

[2016-11-22 05:54] kgashok commented on #26
The Java FAQ book?

Ashok Bakthavathsalam

On Nov 22, 2016 10:44 AM, "Ramya Vellingiri" notifications@github.com
wrote:

[2016-11-22 06:09] 62ramya commented on #26
Yes, sir.

[2016-11-23 03:58] kgashok commented on #22
I believe the https://github.com/haxxorsid/Swing-Paint-Application is of the right size and complexity. Or is there a simpler version to present? (like the single pager http://math.hws.edu/eck/cs124/javanotes6/source/SimplePaint.java )

@Dhivyakgisl @rajasekaranap @aBharathy  Have you taken a look at this? Should we demo this? Whoever is competent and comfortable to do this, can go ahead.

[2016-11-23 04:08] kgashok commented on #27
http://web.mit.edu/1.00/www/definitions.htm
https://www.cs.kent.ac.uk/people/staff/djb/oop/glossary.html

@Dhivyakgisl  Between the MIT version and the Kent version, come up with what's relevant for
  -  the course
  -  possible interview questions (http://javahungry.blogspot.com/2013/06/top-25-most-frequently-asked-core-java.html)

[2016-11-25 10:46] Dhivyakgisl commented on #22
Dear sir,
 
           I had a walk through on the paint program available in the github.
The application is quite enough to explore the complete paint options in swing, but looks heavy for a beginner in java.
My suggestion would be to showcase the same, in bits and pieces, as set of programs given in the link below.
 
http://zetcode.com/tutorials/javaswingtutorial/
 
This would make them feel sim

[2016-11-25 12:25] kgashok commented on #22
@Dhivyakgisl Excellent suggestion, the tutorial can be exposed to them. The additional benefit: the final projects are games as well!

[2016-11-29 02:50] Dhivyakgisl commented on #22
Dear sir,
       Thank you. Will inform the students.
 
With regards,
Dhivya

----- Original Message -----

From: "kgashok" <notifications@github.com>
To: "kgashok/orientations" <orientations@noreply.github.com>
Cc: "Dhivya" <dhivya.arun@kggroup.com>, "Mention" <mention@noreply.github.com>
Sent: Friday, November 25, 2016 5:55:30 PM
Subject: [Marketing Mail] Re: [kgashok/orientations] Paint in Java

[2016-11-29 03:02] Dhivyakgisl commented on #27
Dear sir,
 
     I am herewith sending the glossary relevant to the course. I have removed certain words
that are less important to the course.
 
Please suggest if any.
 
With regards,
Dhivya

----- Original Message -----

From: "kgashok" <notifications@github.com>
To: "kgashok/orientations" <orientations@noreply.github.com>
Cc: "Dhivya" <dhivya.arun@kggroup.com>, "Mention" <mention@noreply.github

[2016-11-29 03:26] 62ramya commented on #19
Finalized Date : 06/12/2016 to 09/12/2016
Venue : KGCAS - CT Lab, Second Floor

[2016-11-29 03:57] kgashok commented on #27
No attachment?

[2016-11-29 04:12] Dhivyakgisl commented on #27
Sorry sir. Attached now.

----- Original Message -----

From: "kgashok" <notifications@github.com>
To: "kgashok/orientations" <orientations@noreply.github.com>
Cc: "Dhivya" <dhivya.arun@kggroup.com>, "Mention" <mention@noreply.github.com>
Sent: Tuesday, November 29, 2016 9:27:28 AM
Subject: [Marketing Mail] Re: [kgashok/orientations] Ideas for the Glossary (#27)

No attachment?

—
You are receivin

[2016-11-29 07:14] Dhivyakgisl commented on #27
Sir, the glossary - KGiSL specific is attached herewith and atmost 5 pages.
----- Original Message -----

From: "kgashok" <notifications@github.com>
To: "kgashok/orientations" <orientations@noreply.github.com>
Cc: "Dhivya" <dhivya.arun@kggroup.com>, "Mention" <mention@noreply.github.com>
Sent: Wednesday, November 23, 2016 9:38:41 AM
Subject: [Marketing Mail] Re: [kgashok/orientations] Ideas for th

[2016-12-03 18:01] kgashok opened #32 "Definition of Java"
![WhatsApp Image 2016-12-03 at 3.19.28 PM.jpeg](https://zube.io/files/kgashok/f641b27cefc514d2273bc740527325a4.jpeg)

[2016-12-03 19:40] kgashok commented on #18
https://www.qzzr.com seems pretty nifty

[2016-12-07 15:57] 62ramya commented on #19
Updated Date for Orientation - 14/12/2016 to 17/12/2016
Venue : KGCAS - CT Lab, Second Floor

[2016-12-15 11:29] 62ramya opened #33 "Updated Agenda"
|Day   | AM Session 1 (9.00 - 10.00) | AM Session 2 (10.00 - 11.35) | PM Session 1 (12.15 to 1.30)| PM Session 2 (1.30 - 2.45)|
|:-----|:-------------|:-------------|:-----------|:----------|
|Day 1 |"Begin with the End in Mind"; Starting MCQ @Dhivyakgisl; Github account / Gitter room login - Say "Hello Java!" @62ramya |Video of KCover Product Presentation @Dhivyakgisl; The Technology Stack and wh

[2016-12-15 11:30] 62ramya commented on #33
@kgashok @Dhivyakgisl @nandini-haricharan  Kindly review the updated agenda.

[2016-12-15 11:45] nandini-haricharan commented on #33
Thank you sir.

[2016-12-15 12:01] Dhivyakgisl commented on #33
Sir, we had a discussion at session end and came out with this agenda.
Thankyou sir.
----- Original Message -----

From: "Ramya Vellingiri" <notifications@github.com>
To: "kgashok/orientations" <orientations@noreply.github.com>
Cc: "Dhivya" <dhivya.arun@kggroup.com>, "Mention" <mention@noreply.github.com>
Sent: Thursday, December 15, 2016 4:59:06 PM
Subject: [kgashok/orientations] Updated Agenda (

[2016-12-15 17:39] kgashok commented on #3
@Dhivyakgisl @nandini-haricharan - is the Java Manual ready for review?

[2016-12-15 17:39] kgashok commented on #32
How come this was not used?

[2016-12-15 17:45] kgashok commented on #32
Ja (go) and Va (come). Therefore, Java means போய் வா, மகனே!

[2016-12-15 17:47] kgashok opened #34 "Review and improve Sheet of Links"
https://github.com/kgashok/orientations/blob/master/links.md

[2016-12-16 02:52] Dhivyakgisl commented on #3
Sir, will load by day end.

----- Original Message -----

From: "kgashok" <notifications@github.com>
To: "kgashok/orientations" <orientations@noreply.github.com>
Cc: "Dhivya" <dhivya.arun@kggroup.com>, "Mention" <mention@noreply.github.com>
Sent: Thursday, December 15, 2016 11:09:08 PM
Subject: Re: [kgashok/orientations] Import Current Java manual into the repo (#3)

@Dhivyakgisl @nandini-harichar

[2016-12-16 02:53] Dhivyakgisl commented on #32
Yes sir, we haven't. Will add it  in todays orientation.
----- Original Message -----

From: "kgashok" <notifications@github.com>
To: "kgashok/orientations" <orientations@noreply.github.com>
Cc: "Dhivya" <dhivya.arun@kggroup.com>, "Assign" <assign@noreply.github.com>
Sent: Thursday, December 15, 2016 11:15:11 PM
Subject: Re: [kgashok/orientations] Definition of Java (#32)

Ja (go) and Va (come). T

[2016-12-16 02:54] Dhivyakgisl commented on #34
Ok sir. ----- Original Message -----

From: "kgashok" <notifications@github.com>
To: "kgashok/orientations" <orientations@noreply.github.com>
Cc: "Dhivya" <dhivya.arun@kggroup.com>, "Mention" <mention@noreply.github.com>
Sent: Thursday, December 15, 2016 11:17:52 PM
Subject: Re: [kgashok/orientations] Review and improve Sheet of Links (#34)

Assigned #34 to @Dhivyakgisl .

—
You are receiving this

[2016-12-16 04:52] nandini-haricharan commented on #3
It is ready.
Had to refine a bit. It's done. Will review and upload by noon Dhivya and Sir.

[2016-12-16 06:39] nandini-haricharan commented on #3
[Java Lab Exercises with Solutions.docx](https://github.com/kgashok/orientations/files/656531/Java.Lab.Exercises.with.Solutions.docx)

[2016-12-16 08:04] kgashok commented on #3
Please change indent spaces to 4.

  % ashok

On 16 December 2016 at 12:09, nandini-haricharan <notifications@github.com>
wrote:

[2016-12-16 12:38] nandini-haricharan commented on #3
Uploading the word & pdf formats of Java Manual :
[Java Lab Manual.docx](https://github.com/kgashok/orientations/files/657170/Java.Lab.Manual.docx)
[Java Lab Manual.pdf](https://github.com/kgashok/orientations/files/657171/Java.Lab.Manual.pdf)

[2016-12-17 06:07] kgashok opened #35 "Java Code Camp for Beginners"

[2016-12-17 06:27] kgashok commented on #35
@62ramya, @Dhivyakgisl  - I need coding mentors from industry. They have to be present full-time throughout the 2 days with their respective teams.

Dec 30,2016 & Dec 31, 2016 - JavaCodeCamp -1 for 2nd year MCA
Jan 6, 2017  & Jan 7, 2017   - JavaCodeCamp - 2 for 2nd year MCA

1. Rajasekaran KITE
2. Alwin Pinakis KGCAS
3. Bavani KITE
4. Bharathy
4. Dhivya
5. Nandini
6. Adarsh R
7. Sheeba D
8. Sarav

[2016-12-17 06:31] kgashok commented on #35
@62ramya - check with Kavitha and confirm that those she has assigned as mentors are good at Java?

| S.No | Roll  No | Reg No    | Name                | Mentor Name                |
|------|----------|-----------|---------------------|----------------------------|
| 1    | 15MCA01  | 1538M0019 | Janani K            | D.Kavitha (IIM)            |
| 2    | 16LMCA01 | 1538M7277 | Abarna,P

[2016-12-17 07:31] 62ramya commented on #35
@kgashok Adarsh confirmed his availability for both sessions

[2016-12-17 07:54] 62ramya commented on #35
@kgashok  spoke with Kavitha mam, the mentors are selected as they handled the Java class before. She have informed all the mentors to solve the problems in CloudCoder before the code  camp.

We will reassign the mentors as per your suggestion.

[2016-12-19 03:12] Dhivyakgisl commented on #35
Sir, in this regard, I will speak with Rajeshwari mam today.
I doubt my presence on both the sessions since need to start preparations for onsite travel.
 
I will confirm the mentors list by day end.

----- Original Message -----

From: "kgashok" <notifications@github.com>
To: "kgashok/orientations" <orientations@noreply.github.com>
Cc: "Dhivya" <dhivya.arun@kggroup.com>, "Mention" <mention@norepl

[2016-12-19 05:52] kgashok opened #36 "200 Java problems in CC"

[2016-12-19 05:57] kgashok opened #37 "Session plans"
Day 1  ( 7 sessions)

1. PC-1 Java 1.5 * 3
2. Right Triangle for Java 1.5 * 1
3. Pet Speak for Java 1.5 * 1
4. Right Triangle for Java OOP 1.5 * 1
5. To be decided (TBD)

Day 2  ( 7 sessions)

1. PC-1 Java - Reset and Repeat 1.5 * 1
2. TDD & CyberDojo - Introduction 1.5 * 1
3. CyberDojo - FizzBuzzPlus 1.5 * 1
4. Hack for Success /How to Ideate? SideProjects Inspirations 1.5 * 1
5. PingPong Game -

[2016-12-19 05:58] kgashok commented on #36
Do we have 200 problems in Java in CC? What is the roadmap? Timelines @62ramya

[2016-12-19 06:01] kgashok commented on #37
@62ramya  - add to the sessions as you deem fit.

[2016-12-19 06:02] kgashok commented on #34
@Dhivyakgisl  - as discussed, make improvements to the links file

[2016-12-19 06:08] Dhivyakgisl commented on #34
Sir, I uploaded 5 mins before as links_v2 in the git hub.
https://github.com/kgashok/orientations/blob/master/Links_v2.pdf
 
Please check.
 
----- Original Message -----

From: "kgashok" <notifications@github.com>
To: "kgashok/orientations" <orientations@noreply.github.com>
Cc: "Dhivya" <dhivya.arun@kggroup.com>, "Mention" <mention@noreply.github.com>
Sent: Monday, December 19, 2016 11:32:40 AM
Su

[2016-12-19 06:41] kgashok commented on #34
PDF versions do not lend themselves to be improved or edited on Github.
Generate a markdown version or a text version.

[2016-12-19 06:48] Dhivyakgisl commented on #34
ok sir will upload a markdown version.
----- Original Message -----

From: "kgashok" <notifications@github.com>
To: "kgashok/orientations" <orientations@noreply.github.com>
Cc: "Dhivya" <dhivya.arun@kggroup.com>, "Mention" <mention@noreply.github.com>
Sent: Monday, December 19, 2016 12:11:35 PM
Subject: Re: [kgashok/orientations] Review and improve Sheet of Links (#34)

PDF versions do not lend th

[2016-12-19 06:49] kgashok commented on #36
@62ramya Please review https://github.com/kgashok/orientations/blob/master/files/JavaTutorial.pdf and revert

[2016-12-19 07:20] Dhivyakgisl commented on #34
sir, https://github.com/kgashok/orientations/blob/master/links_v2_md_file.md

----- Original Message -----

From: "kgashok" <notifications@github.com>
To: "kgashok/orientations" <orientations@noreply.github.com>
Cc: "Dhivya" <dhivya.arun@kggroup.com>, "Mention" <mention@noreply.github.com>
Sent: Monday, December 19, 2016 12:11:35 PM
Subject: Re: [kgashok/orientations] Review and improve Sheet of L

[2016-12-19 07:39] kgashok commented on #35
@Dhivyakgisl  and @nandini-haricharan ,

I spoke with Rajeswari and she agreed that your participation in the code camp is essential.
Develop a "sanity-test" for incoming fresher quality on CloudCoder.
Discuss with me.

[2016-12-19 08:41] 62ramya commented on #36
@kgashok , We have 123 Java Problems in CC.

[2016-12-19 11:34] Dhivyakgisl commented on #35
Sir, myself and Nandini will be present for JavaCodeCamp -1 and 2 respectively.
Will send the other mentors list from industry once confirmed.

----- Original Message -----

From: "kgashok" <notifications@github.com>
To: "kgashok/orientations" <orientations@noreply.github.com>
Cc: "Dhivya" <dhivya.arun@kggroup.com>, "Mention" <mention@noreply.github.com>
Sent: Saturday, December 17, 2016 11:57:35

[2016-12-20 04:09] 62ramya commented on #37
@kgashok  noted sir.

[2016-12-22 04:24] 62ramya commented on #35
Tentative Mentor list

| S.No | Roll  No | Reg No    | Name                | Mentor Name                |
|------|----------|-----------|---------------------|----------------------------|
| 1    | 15MCA01  | 1538M0019 | Janani K            | Dhivya Arun (KGISL)        |
| 2    | 16LMCA01 | 1538M7277 | Abarna,P            | Dhivya Arun (KGISL)        |
| 3    | 16LMCA02 | 1538M7278 | Angel A

[2016-12-27 09:26] #24 closed, assigned to Dhivyakgisl

[2016-12-27 09:26] #25 closed, assigned to Dhivyakgisl

[2016-12-27 09:26] #9 closed, assigned to kgashok, rajasekaranap

[2016-12-27 09:27] kgashok commented on #12
@nandini-haricharan   http://j.mp/jvmKG is the version that I have come up with. Take look at let me know your feedback.

[2016-12-27 11:19] nandini-haricharan commented on #12
Sir,
Can i have download permission for the same please?

[2016-12-28 14:54] 62ramya opened #38 "The 4P - JCC Agenda"
Why **4P?**

- This is as much a **P**roblem solving workshop as it is a Java workshop
     - CyberDojo/TDD (regardless of whether they will use it in their future workplace or not) will give them an _teachable_ organized approach to problem solving
        - flowcharts, dry runs, pseudo code, etc. are the ways of the past (show me one programmer at KGISL who uses this?)
        - https://github.c

[2016-12-28 14:54] 62ramya commented on #38
@kgashok sir review and let me know if any changes

[2016-12-30 12:14] kgashok commented on #38
Still plenty room for improvement
 - more granular problems (imitate Zed Shaw _LTHW_ )
 - more sugar (students need brain food or otherwise they will start fading away)
 - more mentors (instead of 1:5 move closer to 1:1) and better trained - Saravanan?
 - need more hours (min 10.5 hours per day)

[2016-12-30 12:49] kgashok commented on #36
Is there a equivalent Visualization of Transpose of matrix in Java? http://cloudcoder.kgkite.ac.in/cloudcoder/#exercise?c=7,p=1667

[2016-12-30 14:52] kgashok commented on #38
1. I shall do the JVM session remotely tomorrow. Let's see what the impact is.
2. Break the "monotony" with a session on Typing - take them to http://typing.io and ask them to pick a Java language exercise - also to get a feel for the language convention.

[2017-01-02 04:10] kgashok commented on #10
@Sudharsanrajendran  Setup Cloud9 as a "Teacher" for USD 1 month? Please explore and let me know.

[2017-01-02 04:14] kgashok commented on #3
@nandini-haricharan  I reviewed PDF version, and I found these:

1. Inconsistent indent spacing (Look at Lab #3) across the manual
2. Bad indentation (comments are not _inline_ with the **import** statements in Lab #3)
3. Wrapping around is happening making the code not readable. Let's consistently use indent spacing at 2.
4. Can we put some header/footer and indicating copyright @KGCAS and/or KGI

[2017-01-02 04:44] nandini-haricharan commented on #3
Sir,

I will mail you the .doc and .pdf versions after the below changes before we can post them here.

1. Changed the line spacing to 1.5 across the document.
2. Change has been made to keep the comment and import statements in line for all the questions.
3_. The indent spacing has been kept to 2 based on your feedback earlier. Yet there are bound to be lines (long ones) which will reflect word w

[2017-01-02 07:11] kgashok commented on #3
@nandini-haricharan

https://github.com/kgashok/orientations/tree/master/JavaLab%20using%20C9
is the folder for dumping all the individual lab exercises.

The PDF and Word manuals can be placed at the top level.

[2017-01-02 09:55] nandini-haricharan commented on #3
Sir, I am not able to create FOLDERS. does it require any access? I have uploaded the java files.

[2017-01-02 14:47] kgashok commented on #10
The https://github.com/kgashok/orientations/tree/master/JavaLab-C9 has all the individual java source files now.

[2017-01-04 07:11] kgashok commented on #38
Part 2 Problem set recommendation

1. Revise and review PC-1
2. File read and write in CyberDojo - Custom Start point - http://j.mp/fileJavaCD; Use this for the actual session on Jan 6-7 - http://j.mp/fileJavaJCC
4. Right Triangle OOP in CC
3. ArrayList sorting in CyberDojo
5. FizzBuzz OOP in CyberDojo

[2017-01-05 08:26] 62ramya commented on #38
|Day   | AM Session 1 (9.00 - 9.30) | AM Session 2 (9.30 - 10.30) | AM Session 3 (10.45.00 to 11.15)| AM Session 4 (11.15 to 12.30)|PM Session 1 (1.30 - 4.30)| PM Session 2 (4.30 - 9.30 )|
|:-----|:-------------|:-------------|:-----------|:----------|:----------|:----------|
|Day 1 |Review of Part 1| Math is Everything (Solving Math related probems) | JVM| CloudCoder (FizzBUzz Java)  | Introducti

[2017-01-05 08:26] 62ramya commented on #38
@kgashok  Kindly review updated agenda for Part_2 JCC. Let me know your suggestions

[2017-01-05 08:27] 62ramya commented on #38
@kgashok  The Part_2 session will be considered as January CCS .

[2017-01-05 11:00] kgashok commented on #38
Application Demo - Which application? Dhivya's presentation?

[2017-01-05 14:25] 62ramya commented on #38
Sir,  Dhivya mam is going to show application demo in Web, Mobile and Tab.

@Dhivyakgisl Kindly specify the application name.

[2017-01-05 15:06] kgashok commented on #38
So 4P JCC is
 - LTHW Zed Shaw *+*
 - skills through immersion in 21 hours *+*
 - pair programming with Professionals *+*
 - Karumanchi's variations

[2017-01-05 18:15] kgashok commented on #38
@Dhivyakgisl @nandini-haricharan , does that mean KGISL probationary engineers will be joining as "mentors"?

[2017-01-07 16:15] kgashok commented on #10
@Sudharsanrajendran Any progress on the Teacher-mode?

[2017-01-07 16:18] sudhxr commented on #10
Workflow as I see it:

Teacher creates an C9 account
Teacher purchases Education plan, Gives the teacher the control of a team
Teacher invites students via the team settings (username or email)
- (I Assume) if by username, the student can just accept, or it just happens, no further action
- if by email, the student can create an account bypassing the CC check.

[2017-01-07 16:21] sudhxr commented on #10
Sir, as far I have explored the community one credit card is used for an account to verify a user and the same card cannot be used for an another account.

[2017-01-07 16:21] kgashok commented on #10
ok, that's good enough. Thanks,

On 7 January 2017 at 21:51, sudhar <notifications@github.com> wrote:

[2017-01-07 16:31] kgashok commented on #38
@62ramya  - A session on "Ideation" is required - and immediate sharing - total 30 min.
  - the students must also be asked to visit github "explore" and at least "STAR" 3-4 projects that they like to work on (if they get the right mentors).
  - https://github.com/explore

[2017-01-07 17:25] kgashok opened #39 "Mentor Tools"
- http://j.mp/hangTutor - Hangout + Tutor (visualizer) demo recorded on FizzBuzz. A combo tool which you can use to teach students remotely...(and be as good as next to them)

- http://www.javarepl.com  - Java REPL

- http://j.mp/fizzBuzzV1 - visualize the Dynamic OOP version of FizzBuzz

[2017-01-08 16:04] #4 closed, assigned to aBharathy

[2017-01-08 16:06] kgashok commented on #3
@nandini-haricharan Files now in the same directory. We will consider separate folders later.
@sathyavathyvenugopal Please review the files and call me.

[2017-01-08 19:04] kgashok opened #40 "ExtractString generates InputMismatchException"
![image](https://cloud.githubusercontent.com/assets/2399010/21752702/3b5299b2-d603-11e6-9d37-e7d19a95c6ad.png)

[2017-01-08 19:08] #40 closed, assigned to nandini-haricharan

[2017-01-08 19:12] kgashok commented on #40
@nandini-haricharan I am surprised that it has not been tested to run correctly. Can all the programs be sanity checked to at least compile and run?

[2017-01-08 19:29] kgashok opened #41 "MultipleInheritance.java filename and class mismatch"
@nandini-haricharan  The classname does not match the filename. This is a basic error!

[2017-01-08 19:42] #41 closed, assigned to nandini-haricharan

[2017-01-08 19:57] kgashok opened #42 "Compilation warning for ExceptionCheck"
Needs to use the Scanner class instead of DataInputStream whose `readLine` function has been deprecated since JDK 1.1

[2017-01-08 19:59] #42 closed, assigned to nandini-haricharan

[2017-01-09 12:18] sathyavathyvenugopal commented on #3
Respected Sir,
             I will review the files and call to you sir.

[2017-01-09 12:18] #3 closed, assigned to nobody

[2017-01-09 13:04] kgashok opened #43 "MultipleInheritance.java Lab #3 to be replaced with PetSpeak series"
@sathyavathyvenugopal  @rajasekaranap

As discussed, Please incorporate the PetSpeak series of CC problems in the lab manual.

http://j.mp/petSpeak1
http://j.mp/petSpeak2
http://j.mp/petSpeak3

Students must practice these in the lab, and once all the test cases pass, they can cut and paste into the NotePad and compile it locally as well and get the output to be verified by the lab in charge.

[2017-01-09 13:10] kgashok commented on #43
@sathyavathyvenugopal  Students can be encouraged to practice the lab problem even prior to the lab.

By the way, these three problems were covered as part of the Java Orientation session as well.

[2017-01-09 13:18] kgashok opened #44 "Video key for Java PetSpeak series"
@rajasekaranap  Please do the needful.

Feel free to do the voice over in **Tamil** as well. Please use

1. Screencastic to record
2. Upload directly to Youtube or have it done by Shanmugam (ICT).
3. Send me the link.

[2017-01-09 13:20] #35 closed, assigned to nobody

[2017-01-09 14:54] kgashok commented on #44
Unless otherwise stated, all scaffolds must follow the Oracle naming conventions

http://j.mp/namesJava

[2017-01-10 02:31] kgashok commented on #43
Actually, don't change it. However, those students who complete the PetSpeak series can be given some extra points.

@sathyavathyvenugopal Send me the names of students who complete all the three problems as well as the http://j.mp/petSpeak4 problem.

[2017-01-10 07:31] kgashok commented on #44
Let me know as soon as the video keys are available (keep each of them ~5 min, for a total of < 20 min).

[2017-01-12 15:13] kgashok opened #46 "Action items based on report"
https://github.com/kgashok/orientations/blob/master/4PReport.md

[2017-01-19 14:37] kgashok commented on #36
http://j.mp/algorithmChallenge - the ultimate list for practice on Hackerrank; Pick 3-4 problems from each "sub-domain" and ensure they are available in CC as well.

![screenshot 2017-01-19 at 20 05 57](https://cloud.githubusercontent.com/assets/2399010/22110722/bb7e6d5a-de82-11e6-9ad9-aee1a4c85c08.png)